<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Place to Belong Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <script src="/js/map.js"></script>
</head>
<body>
    <h1>A Place to Belong Map</h1>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <script>
        let placeToBelong = <%- JSON.stringify(placeToBelong) %>;
    </script>
</body>
</html>